/* Estilização dos álbuns */
.albums__section {
    width: 100%;
}

.albums__elements{
    max-width: 1024px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding: 4rem 0;
    gap: 2rem;
}

.albums__elements h2 {
    font-size: 1.8rem;    
    display: flex;    
}

.albums__container {
    padding-top: 2rem;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
    gap: 1rem;    
}

.album__information {
    background-color: var(--album-background-color-lightMode);
    display: flex;
    flex-direction: column;
    gap: 1REM;
    color: var(--text-color-mainly-lightMode);
}

.album-none {
    display: none;
}


.album-Img {
  height: 290px;
  width: 308px;  
}


.album-title {
    display: flex;
    font-size: 1.375rem;
    padding: 0.313rem 1rem;   
}

.album__name {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}


.album__price {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.album-price {
    font-size: 1.2rem;
}

.button-purchase {
    background-color: var(--text-color-secundary-darkMode);
    color: #ffff;
    border: transparent 1px solid;
    border-radius: 0.25rem;
    padding: 0.7rem 0.625rem;
    cursor: pointer;
}

.album__price button:hover {
    background-color: rgba(0, 0, 0, 0.8)
}

.album__information:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

    
    
