/* Estilizações Globais */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --background-color-lightMode: #FDFEFF; 
    --background-color-darkMode: #15171A; 
    --text-color-mainly-lightMode: black; 
    --text-color-mainly-darkMode: white; 
    --text-color-secundary-darkMode: #6F00FF;     
    --input-color-rage-darkMode: #CED4DA;
    --album-background-color-lightMode: #F8F9FA; 
    --album-background-color-darkMode: #212529;
    --buttonGenre--background-color: #F1F3F5;   
       
}

:root.dark-mode {
    --background-color-lightMode: #15171A;
    --text-color-mainly-lightMode: white;
    --buttonGenre--background-color: #212529;
    --text-color-mainly-darkMode: white;
    --album-background-color-lightMode: #212529;
    --background-color-darkMode: white;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var( --background-color-lightMode);
    color: var(--text-color-mainly-lightMode);
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    position: relative;    
}








