/* Estilização dos generos */
.generos__musicais__section {
    width: 100%;
    font-size: 24px;
}

.generos__musicais__elements {
    max-width: 1024px;
    padding: 4rem 0rem 2rem 0;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    gap: 2rem;    
}

.generos__musicais__elements h2 {
    font-size: 1.8rem;
    display: flex;
}

.generos__musicais__buttons {
    display: flex;
    gap: 1.5rem;
    padding: 0;      
}

.button_genre {    
    border: none;
    padding: 0.638rem 0.7rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.button_genre {    
    background-color: var(--buttonGenre--background-color);
    color: var(--text-color-mainly-lightMode);
}

.button-click {
    background-color: var(--background-color-darkMode);
    color: var(--background-color-lightMode);
    cursor: pointer;
}




