/* Estilização do Cabeçalho */
header {
    width: 100%;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: var(--background-color-white);      
}

.header__content {
    max-width: 1024px;
    padding: 4rem 0rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid var(--text-color-secundary-white);
    color: var(--text-color-mainly-white);
    font-size: 2.5rem;
}

.header__content span {
    color: var(--text-color-secundary-white);
}

.header__content button {
    background-color: var(--button-background-color-whit);
    border: none;
    border-radius: 5px;
}


